:root {
  --clr-primary: #0f0f1c;
  --clr-secondary: #198ac2;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100%;
}
.intro-page {
  display: block;
  transition: 0.5s ease;
  height: 100%;
  background: var(--clr-primary);
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.main-animation-body {
  height: 100%;
  width: 100%;
}
.hi-div {
  width: 100%;
  opacity: 0%;
  text-align: center;
  animation: 3s hiAppear ease forwards;
  animation: moveDown 2s ease 0s 1 normal forwards;
}
.press-button-div {
  position: absolute;
  color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  animation: moveUp 2s ease 0s 1 normal forwards;
}
.hi-span {
}
@keyframes hiAppear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(-400px);
    opacity: 100;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    transform: translateY(-250px);
    opacity: 100;
  }
}
@keyframes texAnimation {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.magic {
  animation: texAnimation 2s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
}
.rows-container {
  height: 100%;
  position: relative;
}
.array {
  width: 100%;
}
.hexagon {
  position: relative;
  height: 90px;
  width: 100px;
  background: black;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 3px;
  margin-top: 11px;
  animation: hexanimation 4s linear infinite;
  transition: 1s;
}
.hexagon:hover {
  background: #0f0;
  transition: 0s;
}
@keyframes hexanimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.hexagon::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  background: black;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}
.row:nth-child(even) {
  margin-left: 2px;
}

.animation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
}

.main {
  background: black;
  height: 100%;
  color: white;
}
